@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=cyrillic);
.row > div {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
.col-1 {
  width: 6.25%;
}
.col-2 {
  width: 12.5%;
}
.col-3 {
  width: 18.75%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 31.25%;
}
.col-6 {
  width: 37.5%;
}
.col-7 {
  width: 43.75%;
}
.col-8 {
  width: 50%;
}
.col-9 {
  width: 56.25%;
}
.col-10 {
  width: 62.5%;
}
.col-11 {
  width: 68.75%;
}
.col-12 {
  width: 75%;
}
.col-13 {
  width: 81.25%;
}
.col-14 {
  width: 87.5%;
}
.col-15 {
  width: 93.75%;
}
.col-16 {
  width: 100%;
}
.preview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #444;
  padding: 15px;
  background-color: #ddd;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: "PT Sans";
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1260px;
  max-width: 980px;
  margin: 0 auto;
}
header {
  margin-top: 15px;
}
header .course-logo {
  width: 40px;
  vertical-align: middle;
}
header h1 {
  display: inline-block;
  font-size: 22px;
  margin: 0;
  color: #434343;
  vertical-align: middle;
  margin-left: 5px;

  line-height: 27px;
}
header .task-header {
 
background-color: #37C799;
padding: 8px 9px 8px 15px;
border-radius: 4px;
 
}
header .task-header .task-nav {
  display: inline-block;
  float: right;
}
header .task-header .task_next {
  color: fff;
  background-color: #444;
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 4px;
  display: none;
}
header .task-header h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #fff;
  display: inline-block;
  padding-top: 2px;
}
.box {
  background-color: #efefef;
  border-radius: 6px;
  padding: 15px;
  min-height: 350px;
  position: relative;
}
.box:after {
  content: "Образец";
  position: absolute;
  top: 7px;
  right: 7px;
  background-color: #fff;
  padding: 3px 7px;
  border-radius: 4px;
  opacity: 0.5;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}
.box:hover:after,
.box.task-theory:after {
  opacity: 0;
}
.task-theory b {
  padding: 1px 4px;
  border: 2px solid #37c799;
  border-radius: 4px;
  display: inline-block;
}
.box-example,
.box-result {
  padding-top: 25px;
}
.box-example:after {
  content: "Образец";
}
.box-result:after {
  content: "Ваш код";
}
.task-form {
  position: relative;
  width: 100%;
}
.task-form .task-answer {
  border: 2px solid #37c799;
  border-radius: 6px;
  display: block;
  width: 100%;
  font-size: 17px;
  color: #434343;
  outline: none;
  height: 50px;
  padding-left: 14px;
}
.task-form .task-check {
  background-color: #37c799;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  padding: 9px 18px;
  border: none;
  -webkit-transition: 400ms background-color;
  transition: 400ms background-color;
  cursor: pointer;
  outline: none;
}
.task-form .task-check:hover {
  background-color: #23b385;
}
.progressbar {
  top: 0;
  width: 950px;
  height: 5px;
  background-color: #434343;
  margin: 0 15px;
}
.progress {
  width: 5%;
  height: 100%;
  background-color: #37c799;
  -webkit-transition: width 300ms;
  transition: width 300ms;
}
.box-result {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  -webkit-transition: border-color 600ms;
  transition: border-color 600ms;
  overflow: hidden;
}
.border-success {
  border-top: 6px solid #37c799;
  border-bottom: 6px solid #37c799;
}
.border-fail {
  border-top: 6px solid #fb6c07;
  border-bottom: 6px solid #fb6c07;
}
.box-result:before {
  content: "Нужно исправить";
  display: block;
  background-image: url(../img/trapeze.svg);
  height: 27px;
  -webkit-background-size: 60%;
  background-size: 60%;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  position: absolute;
  width: 100%;
  top: -100px;
  color: whitesmoke;
  left: 0;
  padding-top: 5px;
  font-size: 15px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: top 700ms;
  transition: top 700ms;
}
.box-result.border-fail:before {
  opacity: 1;
  top: -8px;
}
.box-result.border-success:before {
  opacity: 1;
  top: -8px;
  background-image: url(../img/trapeze-green.svg);
  content: "Отлично!";
}
.continue {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #37c799;
  text-align: center;
  height: 20px;
  padding: 15px 0 34px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.continue a {
  border-radius: 6px;
  background-color: #434343;
  padding: 4px 12px;
  text-decoration: none;
  color: #37c799;
}
code.language-markup {
  white-space: pre-wrap;
  font-size: 15px;
}

code#task-example,code#task-result {
background-color: rgba(0, 0, 0, 0);
}

.switch {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.switch a {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #37c799;
  line-height: 50px;
  color: #f0f0f0;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  height: 50px;
}
.pulse {
  -webkit-animation: 1100ms pulse linear infinite;
  animation: 1100ms pulse linear infinite;
}
@-webkit-keyframes pulse {
  0% {
    background-color: #23b385;
  }
  50% {
    background-color: #41d1a3;
  }
  100% {
    background-color: #23b385;
  }
}





/* Необходимо переписать обратно вlESS , а пока так*/



header .task-header {
background-color: transparent;
padding: 8px 9px 8px 0px;
border-radius: 4px;
}

header .task-header h2{

  color: #37C799;

}

#task-theory {
background-color: rgba(0, 0, 0, 0);
padding: 22px 0 0 0;
}

.task-theory b {

  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.box:after {
  bottom: 7px;
  top: initial;
}

.box-example{ 

  border-top: 6px solid rgba(0, 0, 0, 0); 

}

#task-example,#task-result{

  padding: 22px 0px !important;

}

.box-result:before {

  line-height: 23px;
  height: 22px;

}

.modal{

  width: 400px;
  height: 300px;
  position: fixed;
  top:0;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  z-index:101;

}

.modal a{

  color: #37C799;

}

.modal img{

  width: 100%;


}

.modal img+p{
  margin-top: 40px;
}


.blackout{

  display:none;
  z-index:100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(40,40,40,0.7);

}

.task-form .task-answer{

  line-height: 40px;

}

.task-reset {
  float: right;
  background-color: #eb604b;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  padding: 9px 18px;
  border: none;
  cursor: pointer;
  outline: none;
}
